<launch>
<arg name="joy_dev" default="/dev/input/js0" />
<arg name="use_sim_time" default="true" />

<param name="use_sim_time" value="$(arg use_sim_time)" />

<!-- joystick node -->
<node name="joy_node" pkg="joy" type="joy_node" respawn="false" output="screen">
<param name="dev" value="$(arg joy_dev)" />
<param name="deadzone" value="0.05" />
<param name="autorepeat_rate" value="20.0" />
</node>

<!-- teleop twist from joystick (map axes in config) -->
<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" output="screen">
<param name="axis_linear" value="1" />
<param name="axis_angular" value="0" />
<param name="scale_linear" value="0.6" />
<param name="scale_angular" value="1.0" />
</node>

<!-- ackermann mapper (subscribe to cmd_vel -> publish chassis/cmd) -->
<node pkg="rover_nodes" type="ackermann_mapper.py" name="ackermann_mapper" output="screen" />

<!-- arm joystick teleop: maps joystick axes/buttons to arm joint commands -->
<node pkg="rover_nodes" type="arm_joystick_teleop.py" name="arm_joy" output="screen" />

</launch>
